.avacha {
  &_about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    max-width: var(--medium-width);
    margin: 0 auto;
  }

  &_aboutContainer {
    display: flex;
    flex-direction: column;
  }

  &_aboutTitle {
    font-weight: normal;
    font-size: 0.75rem;
  }

  &_aboutText {
    font-size: 0.55rem;
  }
}

@media (width >= 768px) {
  .avacha {
    &_about {
      gap: 40px;
    }
  }
}
