.avacha {
  &_header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;

    padding: 40px 10px 80px;

    color: var(--clr-black);

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;

    background-color: var(--clr-white);
  }

  &_headerContainer {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: var(--medium-width);
  }

  &_contactUsButton {
    align-self: flex-start;

    color: var(--clr-white);

    background-color: var(--clr-black);
  }

  &_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_logoImg {
    display: block;

    width: 100%;
    height: 100%;
    max-width: 180px;
  }
}

@media (width >= 768px) {
  .avacha {
    &_logoImg {
      max-width: 300px;
    }
  }
}

@media (width >= 1024px) {
  .avacha {
    &_header {
      gap: 80px;

      padding: 40px 80px 120px;
    }
  }
}
