@font-face {
  font-family: "Didot";
  src: url("./assets/fonts/Didot.woff2") format("woff2"), url("./assets/fonts/Didot.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Didot";
  src: url("./assets/fonts/Didot-Italic.woff2") format("woff2"), url("./assets/fonts/Didot-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

html {
  font-size: 30px;
}

@media (width >= 768px) {
  html {
    font-size: 42px;
  }
}

@media (width >= 1024px) {
  html {
    font-size: 56px;
  }
}
