.makeAProduct {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 140%;

  &_titleWrapper {
    display: inline-block;

    width: 100%;

    text-align: center;
  }

  &_title {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
    align-items: center;

    width: auto;
    max-width: 100%;

    font-weight: normal;
  }

  &_imgContainer {
    position: relative;

    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }

  &_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 120%;

    transform: translateX(-10%) translateY(-40%);

    pointer-events: none;
  }

  &_span {
    position: relative;

    display: inline-block;

    color: var(--clr-light-blue);
  }
}

@media (width >= 768px) {
  .makeAProduct {
    &_titleWrapper {
      max-width: 748px;
    }

    &_title {
      justify-content: flex-start;
    }
  }
}

@media (width >= 1024px) {
  .makeAProduct {
    &_titleWrapper {
      max-width: 653px;
    }
  }
}

@media (width >= 1140px) {
  .makeAProduct {
    &_titleWrapper {
      max-width: 980px;
    }
  }
}
