.makeAProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  color: var(--clr-white);
  text-align: start;

  background-color: var(--clr-black);

  &_title {
    display: inline-block;

    text-align: center;
  }

  &_text {
    display: inline;
  }

  &_imgContainer {
    position: relative;

    display: inline-block;

    margin-left: -20px;
    padding: 20px 20px 20px 20px;
  }

  &_span {
    display: inline-block;

    color: var(--clr-light-blue);
  }
}

@media (width >= 530px) {
  .makeAProduct {
    &_title {
      text-align: start;
    }
  }
}
