.ripple {
  // position: absolute;
  // border-radius: 50%;
  // background: transparent;
  // border: 6px solid rgba(255, 255, 255, 0.8);
  // pointer-events: none;
  // filter: blur(4px);

  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 9999;
  pointer-events: none;
}
