:root {
  --clr-black: #1c1c1d;
  --clr-white: #ffffff;
  --clr-light-blue: #2c67ff;
  --clr-blue: #1914ff;
  --clr-deep-blue: #041c6d;

  --max-width: 1720px;
  --medium-width: 1568px;

  --size-m: 768px;
  --size-l: 1024px;
}
