:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-light-blue: #2c67ff;
  --clr-blue: #1914ff;
  --clr-blue1: #d5d4ff;
  --clr-blue2: #a7a6ff;
  --clr-blue3: #9593ff;
  --clr-blue4: #716ffc;
  --clr-blue5: #5b59fd;
  --clr-blue6: #504dff;
  --clr-blue7: #3431f8;
  --clr-blue8: #2b27ff;
  --clr-blue9: #041c6d;
  --clr-pink: #ffabff;

  --max-width: 1720px;
  --medium-width: 1568px;

  --size-m: 768px;
  --size-l: 1024px;
}
