.whatWeDo {
  display: grid;
  grid-template-areas:
    "title title"
    "text text";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;

  width: 100%;
  max-width: var(--max-width);

  column-gap: 10px;

  overflow: hidden;

  &_titleContainer {
    grid-area: title;

    text-align: center;
  }

  &_title {
    font-size: 1.5rem;
  }

  &_textContainer {
    grid-area: text;

    position: relative;

    text-align: center;

    overflow: hidden;
  }

  &_text {
    display: inline;

    &_span {
      display: inline-block;

      // color: var(--clr-blue);
    }
  }
}

@media (min-width: 768px) {
  .whatWeDo {
    grid-template-areas:
      "title ."
      ". text";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 0px;

    &_titleContainer {
      text-align: start;
    }

    &_textContainer {
      text-align: start;
    }
  }
}
