.whatWeDo {
  display: grid;
  max-width: var(--max-width);
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title ."
    ". text";
  column-gap: 10px;
  background-color: var(--clr-white);

  &_titleContainer {
    grid-area: title;
    text-align: center;
  }

  &_title {
    font-size: 1.5rem;
  }

  &_textContainer {
    grid-area: text;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  &_text {
    &_span {
      display: inline-block;
      color: var(--clr-blue);
    }
  }
}
